<?xml version="1.0" encoding="utf-8" standalone="no"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!--1.自定义参数常量-->
	<!--日志级别：TRACE<DEBUG<INFO<WARN<ERROR-->
	<!--使用logger.trace("msg")，或者logger.debug("msg")-->
	<property name="log.level" value="DEBUG" />
	<property name="log.maxHistory" value="30" />
	<property name="log.filePath" value="${catalina.base}/logs/webapps" />
	<property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg %n" />

	<!--2.控制台输出-->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<!--3.DEBUG-->
	<appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--文件路径-->
		<file>${log.filePath}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件名称-->
			<fileNamePattern>
				${log.filePath}/debug/debug.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<!--文件最大保存历史数量-->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--4.INFO-->
	<appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--文件路径-->
		<file>${log.filePath}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件名称-->
			<fileNamePattern>
				${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<!--文件最大保存历史数量-->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--5.ERROR-->
	<appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--文件路径-->
		<file>${log.filePath}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件名称-->
			<fileNamePattern>
				${log.filePath}/error/error.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<!--文件最大保存历史数量-->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--6.关注项目位置-->
	<!--level关注哪个等级的日志-->
	<logger name="com.java.o2o" level="${log.level}" additivity="false">
		<!--绑定相关-->
		<appender-ref ref="debugAppender"/>
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
	</logger>
	<!--7.root-->
	<root level="INFO">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>